.WalletGraph {

    width: 100%;
    height: 18rem;
    background-color: #fff;
    border-radius: var(--radius);
    padding: 3rem 2rem 0 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;


  .top-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    font-size: 1rem;
    color: var(--wallet-gray);
    font-weight: bold;

    .info {
      display: flex;
      align-items: center;
      column-gap: 0.7rem;

      .indicator {
        width: 9.3px;
        height: 9.3px;
        border-radius: 50%;
      }
    }
    .lower {
      .indicator {
        background-color: var(--wallet-red);
      }
    }
    .higher {
      .indicator {
        background-color: var(--wallet-green);
      }
    }
  }

  .graph-wrapper {
    flex-grow: 1;
  }
}
