@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: bold;
    src: url('SF-Pro-Display-Bold');
    src: local('SF-Pro-Display'), url('SF-Pro-Display-Bold.eot') format('embedded-opentype'),
        local('SF-Pro-Display'), url('SF-Pro-Display-Bold.woff') format('woff'),
        local('SF-Pro-Display'), url('SF-Pro-Display-Bold.ttf') format('truetype'),

}