.Wallet {
  .wallet-tab-wrapper {
    margin: 1rem 0;
  }
  .graph-wrapper {
    margin-top: 1rem;
  }

  .buy-sell {
    display: flex;
    align-items: center;
    column-gap: 1.88rem;
    margin-top: 1rem;

    .currency-fiat {
      color: #fff;
      font-size: 20px;
    }
  }
}
