.Wallet{

   
    .buy-sell{
        display:flex;
        align-items: center;
        column-gap: 1.88rem;
        margin-top:1rem;

        .currency-fiat{
            color:#fff;
            font-size: 20px;
        }
    }

}